html,
body {
  font-family:"Maven Pro", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.shape{
  text-align:center;
  width:0;
  height: 0;
  position: relative;
}
.shape:before{
  content:"";
  width: 0;
  height: 0;
  border-bottom: 150px solid white;
  border-left: 150px solid transparent;
  position: absolute;
}

.shape-transparent:before{
  border-bottom: 150px solid #00B9F5;
}