html,
body {
  font-family: "Maven Pro", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.shape {
  text-align: center;
  width: 0;
  height: 0;
  position: relative;
}
.shape:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 150px solid white;
  border-left: 150px solid transparent;
  position: absolute;
}

.shape-transparent:before {
  border-bottom: 150px solid #00b9f5;
}

/* cookie consent buttons */
#rcc-confirm-button {
  background: #37a45d !important;
  color: white !important;
  font-family: "Maven Pro", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.notification {
  position: relative;
}

.notification::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 1rem;
  height: 1rem;
  background: red;
  border-radius: 50%;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

/* grammar modules text html */

.html-text table tbody tr td {
  border-width: 1px;
}

.html-text ul {
  padding: revert;
}

.grammarModule td {
  padding: 5px;
}